body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: rgb(238, 238, 238);
}

h1 {
    font-family: "Quicksand", sans-serif;
}

#rules {
    text-align: center;
    font-family: "Quicksand", sans-serif;
}

#word-display-area {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.cell1,
.cell2,
.cell3,
.cell4,
.cell5,
.cell6 {
    width: 50px;
    height: 50px;
    border: solid;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Quicksand", sans-serif;
}

#input-area {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rules {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    opacity: 1;
    /* pointer-events: none; */
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity 1.5s ease;
}

#game-over,
#win-msg,
#word-length {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity 1.2s ease;
}

#game-over.show,
#win-msg.show,
#word-length.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    width: 500px;
    max-width: 100%;
    border-radius: 5px;
    text-align: center;
    padding: 50px 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    font-family: "Quicksand", sans-serif;
}

.modal h3 {
    margin: 0;
}

.modal p {
    opacity: 0.7;
}

#start-btn,
#submit-button,
#got-it-btn,
.play-again {
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    background-color: #47a386;
    font-size: 14px;
    padding: 10px 25px;
}

#reset-button {
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    background-color: #3e4543;
    font-size: 14px;
    padding: 10px 25px;
}